.logo {
  height: 100px;
  padding: 10px; }

.navbar-inner {
  background-color: #ee0092;
  background-image: none; }

.navbar {
  margin-bottom: 0px; }
  .navbar .nav > .active > a, .navbar .nav > .active > a:hover, .navbar .nav > .active > a:focus {
    background-color: #747476;
    color: white; }
  .navbar .nav > li > a, .navbar .nav > li > a:hover, .navbar .nav > li > a:focus {
    color: #343436;
    text-shadow: none; }
  .navbar .nav > li > a {
    color: white; }

.header {
  background-color: #e0e0e0; }

.headerInfo {
  height: 120px;
  background-color: rgba(255, 255, 255, 0.5); }

.searchArea {
  background-color: rgba(255, 255, 255, 0.5);
  height: 40px; }

.navigation {
  margin-bottom: 20px;
  background-color: #ee0092;
  border-bottom: 4px solid #747476; }

.navbar-inner {
  border: none;
  font-weight: bold; }

.navbar-search {
  margin-left: 10px; }

.search-query {
  border: 1px solid #747476; }

.btn-primary {
  border-radius: 15px; }

.pageBlock {
  border-top: 9px solid #e0e0e0;
  padding: 5px; }

.pageBlock.primary {
  border-top-color: #ee0092; }

.pageBlock.bold {
  border-top-color: #747476;
  background-color: #e0e0e0; }

.pageBlock.dark {
  border-top-color: #747476;
  background-color: #747476;
  color: white; }

.homeHeader {
  margin-bottom: 10px; }

.progress {
  background-color: #747476;
  background-image: linear-gradient(to bottom, #787880, #707072); }

.progress .bar {
  background-color: #ee0092; }

.progress.challenge {
  height: 30px; }

.progress.challenge .bar {
  padding-top: 6px;
  vertical-align: middle;
  font-size: 14px;
  font-weight: bold; }

a.btn, a.btn-primary {
  text-align: center;
  vertical-align: middle;
  padding-top: 6px; }

.exclamation {
  text-align: center;
  font-weight: bold;
  margin-bottom: 20px;
  font-size: 18px; }

.inscriptionChoice {
  border: 2px solid #747476;
  padding: 10px;
  border-radius: 10px;
  height: 100px;
  margin-bottom: 5px;
  text-align: center; }

.social-icon.small {
  width: 20px; }

.btn-primary {
  background-color: #ee0072;
  font-weight: bold; }

.counter {
  border: 1px solid #b5b5b5;
  padding: 0px 3px 0px 3px;
  color: #ee0092;
  font-weight: bold;
  background-color: white; }

.counterHeader {
  font-weight: bold;
  height: 20px; }

.dareIt {
  padding-top: 2px;
  font-weight: bold; }

.dareIt span.light {
  color: white;
  font-size: 18px; }

.dareIt span.dark {
  color: black;
  font-weight: bolder; }
